@import "../../app.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  color: white;

  @include mobile {
      height: 50%;
      width: 100%;
      gap: 20px;
      align-items: center;
      text-align: center;
    }

  .about-content {
    display: flex;
    justify-content: space-between;
    width: 80%;

    .image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
    }

    .text-container {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }

      button {
        padding: 10px 20px;
        border: none;
        background-color: orange;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &:hover {
          background-color: darkorange;
        }
      }
    }
  }

  .mission-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }

  .skills-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin-top: 80px;

    h2 {
      margin-top: -120px;
      font-size: 2rem;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .progress-bar {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;

      .skill {
        position: relative;
        width: calc(50% - 15px);
        max-width: 300px;
        height: 39px;
        background-color: #eee;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        padding: 0 10px;
        color: #0c0c1d;
        font-size: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &.deep-tissue {
          background-color: #ffcccb;
        }

        &.nuru {
          background-color: #ffc3a0;
        }

        &.sensual {
          background-color: #ffd699;
        }

        &.cupping {
          background-color: #d4a5a5;
        }

        &.prostate {
          background-color: #ffb6c1;
        }

        &.heated-stone {
          background-color: #f0c987;
        }

        &.shiatsu {
          background-color: #c5d0e6;
        }

        &.sports {
          background-color: #a7c5eb;
        }

        &.thai {
          background-color: #99d8d0;
        }

        &.geriatric {
          background-color: #c2dbf1;
        }

        .name {
          font-weight: bold;
          margin-bottom: 5px;
          order: 2;
        }

        .bar {
          height: 100%;
          background-color: #ff6347;
          transition: width 1s ease;
          order: 1;
        }
      }
    }
  }

  .certificate-section {
    align-items: center;
    justify-content: center;

    h2 {
      /* Add your certificate section styles here */
    }

    img {
      margin: 10px;
      width: 200px;
      height: auto;
    }
  }
}